{% extends 'base.html.twig' %}

{% block body %}
  <h1>Project Blog</h1>

  <a href="{{ path('post_new') }}">Créer un nouveau post</a>

  {% for post in posts %}
  <div class="posts">
    <img src="{{ post.img }}" alt="" />
    <p>
      {{ post.text }}
    </p>
    <span>Modifié le : {{ post.modified|date('Y-m-d H:i:s') }}</span>
    <span>Créé le : {{ post.created|date('Y-m-d H:i:s') }}</span>
    <ul>
      <li>
        <form name="form" method="post" action="/post/{{ post.id }}">
          <input type="hidden" name="_method" value="DELETE" />
          <input type="submit" value="Supprimer">
          <input type="hidden" id="form__token" name="form[_token]" value="HeubiGfVccFj51yvZSIvczCZvYxGtBOAbNp-11ZUMG0" />
        </form>
      </li>
      <li>
        <a href="{{ path('post_edit', { 'id': post.id }) }}">Editer</a>
      </li>
    </ul>
  </div>
  {% endfor %}
{% endblock %}
