{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="row">

  <div class="well col-md-12">
    <h2>{{ post.title }}</h2>

    <img src="{{ post.img }}" alt="" />

    <p>{{ post.text }}</p>

    <a class="col-md-12" href="{{ path('post_index') }}"><input type="submit" value="Retour"> </a>

    <a class="col-md-12" href="{{ path('post_edit', { 'id': post.id }) }}"> <input type="submit" value="Modifier"></a>


    {{ form_start(delete_form) }}
    <input type="submit" value="Supprimer">
    {{ form_end(delete_form) }}

</div>
</div>

</div>



{% endblock %}
